@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --color-primary: #e84d55;
  --color-secondary: #00aed6;
  --color-light: #fffcfa;
  --color-dark: #111618;
  --font-sans-serif: "Raleway", sans-serif;
  --font-serif: "Libre Caslon Text", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-sans-serif);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1px;
}

.wrapper {
  padding: 0 5vw;
}
